<head>
    <link rel="stylesheet" href="/css/crea.css">
</head>
<section class="agregar">
    <label for="">AGREGAR</label>
    <a href="<%= ruta %>"><iconify-icon icon="bxs:plus-square" style="color: rgb(6, 6, 101); font-size: 1.5rem"></iconify-icon></a>
</section>
