

<head>
    <link rel="stylesheet" href="/css/filtro.css">
</head>

<div class="contenedorFiltro">
    <iconify-icon class="admin__icon" icon="charm:search"></iconify-icon>
            <input
            name="filtro"
            type="text"
            id="codigoProducto"
             placeholder="Buscar por fecha o estado"
            />
            <button type="submit" class="btnBuscarTurno">Buscar</button>
</div>
