<head>
    <link rel="stylesheet" href="/css/formLogin.css">
</head>
<form action="/login" method="POST">
<h2>INGRESAR A MI CUENTA</h2>
<ul>
    <li>
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" id="Nombre">
    </li>
    <li>
        <label for="Clave">Password</label>
        <input type="password" name="Clave" id="Clave">
    </li>
    <li>
        <button type="submit">Ingresar</button>
        <p>
            <input type="checkbox" name="remember" id="remember">
        <label for="remember">Recordarme</label>
        </p>
        
    </li>
    <li><a href="">Olvide mi contraseña</a></li>
</ul>

</form>