<head>
    <link rel="stylesheet" href="/css/formLogin.css">
</head>
<form>
<h2>INGRESAR A MI CUENTA</h2>
<ul>
    <li>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </li>
    <li>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </li>
    <li>
        <button>Ingresar</button>
        <p>
            <input type="checkbox" name="remember" id="remember">
        <label for="remember">Recordarme</label>
        </p>
        
    </li>
    <li><a href="/register">Olvide mi contraseña</a></li>
</ul>

</form>