<head>
    <link rel="stylesheet" href="/css/header.css">
</head>

<header> 
    <img src="/img/doctor amado.png">
    <nav>
        <ul>
            <li><a href="/pacientes">PACIENTES</a></li>
            <li><a href="/usuarios">USUARIOS</a></li>
            <li><a href="/listaTurnos">TURNOS</a></li>
            <li><a href="">SALIR</a></li>
        </ul>
    </nav>
</header>