
.contenedorPacientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.listaPacientes{
    width: 80%;
}
.buscador{
    margin-top: 1rem;
}

.agregarPacientes{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.agregarPacientes .listado{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.headerTable, .tableRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 5%;
    grid-template-rows: auto;
    gap: 0.2rem;
    font-size: 1.5em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: .1rem solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}   
.headerTable{
    font-weight: bold;
    background-color: white;
    padding: 2rem;
    
}
.tableRow{
    transition: background-color 0.3s;
}
.tableRow:hover{
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.alert-info{
    font-size: 2rem;
    font-weight: bold;
    color: red;
}