<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
<div class="contenedorEditarUsuario">
    <h1>CREAR USUARIO</h1>
    <form action="/usuarios/crearUsuario" method="post">
    <ul>
        <li>
            <label for="Nombre">NOMBRE</label>
            <input type="text" name="Nombre" id="Nombre"  required min="5" max="20">
        </li>
        <li>
            <label for="Clave">CLAVE</label>
            <input type="password" name="Clave" id="Clave" required min="5" max="20">
        </li>
        <li>
            <label for="EstadoId">SELECCIONE UN ESTADO:</label>
            <select id="EstadoId" name="EstadoId">
               
                <option value="1" selected>ACTIVO</option>
                <option value="2">INACTIVO</option>
            </select>
        </li>

        <li> <label for="PerfilId">SELECCIONE UN PERFIL:</label>
            <select name="PerfilId" id="PerfilId"> 
                <option value="1" selected>ADMIN</option>
                <option value="2">OBRA SOCIAL</option>
            </select>
        </li>
        
    
        <li>
            <button type="submit">GUARDAR CAMBIOS</button>
        </li>
    </ul>
</div>
</main>
</body>
</html>
