<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Turno</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
<div class="contenedorModificarTurno">
    <h1>CREAR TURNO</h1>
    <form action="/listaTurnos/crearTurno" method="post">
        <ul>
            <li>
                <label for="Fecha">FECHA</label>
                <input type="date" name="Fecha" id="Fecha" required>
            </li>
            <li>
                <label for="Hora">HORA</label>
                <input type="time" name="Hora" id="Hora"   required>
            </li>
        
            <li>
                <label for="PacienteId">Selecciona un paciente:</label>
                <select id="PacienteId" name="PacienteId">
                    <% pacientes.forEach(paciente => { %>
                        <option value="<%= paciente.Id %>"><%= paciente.Nombre %></option>
                    <% }); %>
                </select>
    
            <li>
                 <label for="EstadoId">Selecciona un estado:</label>
                <select id="EstadoId" name="EstadoId">
                    <option value="1" s>OCUPADO</option>
                    <option value="2">LIBRE</option>
                </select>
             </li>   

            <li>
                <button type="submit">CREAR TURNO</button>
            </li>
        </ul>
    </form>
    
    <p class="mensajeInformativo">
        <%= exito %>
        
    </p>

</div>
</main>
</body>
</html>
