<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
<div class="contenedorCrearPaciente">
    <h1>CREAR PACIENTE</h1>
    <form action="/pacientes/crearPaciente" method="post">
    <ul>
        <li>
            <label for="Nombre" >NOMBRE</label>
            <input type="text" name="Nombre" id="Nombre" required maxlength="30" minlength="5">
        </li>
        <li>
            <label for="DNI">DNI</label>
            <input type="text" name="DNI" id="DNI" required maxlength="10" minlength="5">
        </li>
        <li>
            <label for="ObraSocialId">Selecciona una obra social:</label>
            <select id="ObraSocialId" name="ObraSocialId">
                <option value="1">OSDE</option>
                <option value="2">IOMA</option>
                <option value="3">OSCEP</option>
                <option value="4" selected>NO TIENE</option>
            </select>

        </li>
        <li>
            <label for="NumeroAsociado">NUMERO ASOCIADO</label>
            <input type="number" name="NumeroAsociado" id="NumeroAsociado" min="0" max="12" required value="0">
        </li>
        <li>
            <label for="Direccion">DIRECCION</label>
            <input type="text" name="Direccion" id="Direccion" required maxlength="30" minlength="5">
        </li>
        <li>
            <label for="Telefono">TELEFONO</label>
            <input type="text" name="Telefono" id="Telefono" required maxlength="30" minlength="5">
        </li>
        <li>
            <button type="submit">CREAR</button>
        </li>
    </ul>
</div>
</main>
</body>
</html>